doctype xml
Returns(apiKey=ENV['NEWGISTICS_KEY'])
  Return(id=rma.order_id)
    RMA= rma.number
    Comments= rma.reason
    Items
      - rma.line_items do |item|
        Item
          SKU= item.sku
          Qty= item.quantity