doctype xml
Returns(apiKey=ENV['NEWGISTICS_KEY'])
  Return(orderID="#{rma.order.number} - #{shipment.id}")
    RMA= rma.number
    Comments= rma.memo
    Items
      - skus.each do |sku, quantity|
        Item
          SKU= sku
          Qty= quantity