doctype xml
Orders(apiKey=ENV['NEWGISTICS_KEY'])
  Order(orderID=shipment.number)
    CustomerInfo
      FirstName= shipment[:ship_address].firstname
      LastName= shipment[:ship_address].lastname
      Address1= shipment[:ship_address].address1
      Address2= shipment[:ship_address].address2
      City= shipment[:ship_address].city
      State= shipment[:ship_address].state
      Zip= shipment[:ship_address].postal_code
      Country= shipment[:ship_address].country
      Email= shipment.email
      Phone= shipment[:ship_address].phone
      IsResidential= (shipment[:ship_address].type == 'residential')
    AllowDuplicate
    OrderDate= shipment.completed_at.strftime('%m/%d/%Y')
    ShipMethod= shipment.ship_method
    InfoLine= shipment.options[:info]
    RequiresSignature= shipment.options[:signature]
    IsInsured= shipment.options[:insured]
    InsuredValue= shipment.options[:insured_value]
    / Customs_ShipmentContents
    / Customs_DeclaredValue
    / Customs_CountryOfOrigin
    AddGiftWrap= shipment.options[:gift_wrap]
    GiftMessage= shipment.options[:gift_message]
    CustomFields
    Items
      - shipment.line_items.each do |item|
        Item
          SKU= item[:sku]
          Qty= item[:quantity]
          CustomFields