doctype xml
Orders(apiKey=ENV['NEWGISTICS_KEY'])
  Order(orderID=shipment.number)
    CustomerInfo
      - shipment.ship_address do |address|
        FirstName= address.first_name
        LastName= address.last_name
        Address1= address.address1
        Address2= address.address2
        City= address.city
        State= address.state
        Zip= address.postal_code
        Country= address.country
        Email= shipment.email
        Phone= address.phone
        IsResidential= (address.type == 'residential')
    AllowDuplicate
    OrderDate= shipment.completed_at.strftime('%m/%d/%Y')
    ShipMethod= shipment.ship_method
    InfoLine= shipment.options[:info]
    RequiresSignature= shipment.options[:signature]
    Items
      - shipment.line_items.each do |item|
        Item
          SKU= item.sku
          Qty= item.quantity