doctype xml
Orders(apiKey=ENV['NEWGISTICS_KEY'])
  Order(orderID="XML001")
    CustomerInfo
      Company Newgistics Fulfillment
      FirstName John
      LastName Doe
      Address1 22100 E 26th Ave, #100
      Address2
      City Aurora
      State CO
      Zip 80019
      Country US
      Email jdoe@newgistics.com
      Phone (303)662-1041
      Fax
      IsResidential YES
    DropShipInfo
      CompanyName
      Address
      City
      State
      Zip
    AllowDuplicate
    OrderDate 02/24/2009
    ShipMethod UPSGR
    InfoLine
    Reference1
    Reference2
    RequiresSignature YES
    IsInsured
    InsuredValue
    Customs_ShipmentContents
    Customs_DeclaredValue
    Customs_CountryOfOrigin
    AddGiftWrap
    GiftMessage
    IsCOD
    CODAmount
    CODCashiersOnly
    CODAddToShipping
    IsBill3rdParty
    Bill3rdPartyAccountNum
    HoldForAllInventory
    CustomFields
    Items
      Item
        SKU PRODUCT-SKU-001
        Qty 3
        CustomFields
      Item
        SKU PRODUCT-SKU-004
        Qty 1
        CustomFields
    PdfInserts
      PdfInsert/
